# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
build-vcpkg
# Precompiled Headers
*.gch
*.pch
build
# Compiled Dynamic libraries
#*.dylib
#*.dll
# 3rdpart/dyncall*
build*
# Fortran module files
*.mod
*.smod
.tools

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
#*.exe
*.out
*.app

*.DS_Store

/.idea/
/cmake-build-debug/
/cmake-build-release/